@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	color: rgba(236, 38, 37, 0.7);
}

h3 {
	font-family: 'SEGA LOGO FONT';
	color: rgba(143, 32, 191, 0.7);
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 2rem;
}

.searchbox {
	margin: 0 0 20px 0;
	font-style: italic;
	font-family: -apple-system, BlinkMacSystemFont;
	color: #7d37d2;
}

::placeholder {
	color: #7d37d2;
}

img {
	width: 250px;
	height: 250px;
}
